# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [2]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [3]:
# Load dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', 
                   usecols = ['Borough', 'Complaint Type', 'Agency Name','Descriptor',
                              'Community Board', 'Resolution Description'])

In [6]:
data1 = data

In [7]:
data.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [8]:
# Check if all Boroughs and Community Districts are represented in the Data 
data['Borough'].unique()

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [9]:
len(data['Community Board'].unique())

77

In [10]:
# How many unique values do we have? 
com_uni = data['Community Board'].unique()

In [11]:
com_uni

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [12]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.
index1 = [1, 58, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77]
com_uni = np.delete(com_uni,index1)

In [32]:
len(com_uni)

59

In [14]:
data['marker'] = 1

In [35]:
data1.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough,marker
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN,1
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,1
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN,1
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN,1
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified,1

In [48]:
mark = []

In [ ]:
for i in range(len(data)):
    if data.iloc[i]['Community Board'] not in com_uni:
        mark.append(0)
    else:
        mark.append(1)

In [ ]:
data["marker"] = np.array(mark)

In [ ]:
data_valid = data[data.marker == 1]

In [ ]:
len(data['Community Board'].unique())

In [ ]:
df_sample = data.groupby('Community Board').count()
df_sample = com_count["Complaint Type"]
df_sample.columns = ['Complaint Counts']
df_sample.head()

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [4]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [5]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [15]:
# Check variables in file
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [16]:
# How many community districts are in file? 
len(df_pop['cd_id'].unique())

59

In [17]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_pop['higher_edu'] = df_pop["Population 25 Years and over: Master's degree"] + \
                       df_pop["Population 25 Years and over: Professional school degree"] + \
                       df_pop["Population 25 Years and over: Doctorate degree"]

In [19]:
# Save data frame
df_pop = df_pop[['cd_id', 'Total Population', 'higher_edu', '% Total Population: Male', 
                 'Median household income (In 2014 Inflation Adjusted Dollars)']]
df_pop.head()

,cd_id,Total Population,higher_edu,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,13421,46.65,54224
1,BX12,134644,5466,46.35,44906
2,BX10,121209,8959,45.20,54962
3,BX11,135839,10174,50.09,47910
4,BX03,172247,3781,44.72,22041

In [20]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [21]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [23]:
# Check variables in file
df_infr.count()

FIPS                                                       59
Geographic Identifier                                      59
Qualifying Name                                            59
Households                                                 59
Households: With An Internet Subscription                  59
Households: Dial-Up Alone                                  59
Households: Dsl                                            59
Households: With Mobile Broadband                          59
Households: Without Mobile Broadband                       59
Households: Cable Modem                                    59
Households: With Mobile Broadband.1                        59
Households: Without Mobile Broadband.1                     59
Households: Fiber-Optic                                    59
Households: With Mobile Broadband.2                        59
Households: Without Mobile Broadband.2                     59
Households: Satellite Internet Service                     59
Households: With Mobile Broadband.3                        59
Households: Without Mobile Broadband.3                     59
Households: Two or More Fixed Broadband Types, or Other    59
Households: With Mobile Broadband.4                        59
Households: Without Mobile Broadband.4                     59
Households: Mobile Broadband Alone or With Dialup          59
Households: Internet Access Without A Subscription         59
Households: No Internet Access                             59
% Households: With An Internet Subscription                59
Households.1                                               59
Households: Has A Computer                                 59
Households: With Dial-Up Internet Subscription Alone       59
Households: With A Broadband Internet Subscription         59
Households: Without An Internet Subscription               59
Households: No Computer                                    59
dtype: int64

In [24]:
# How many community districts are in file? 
df_infr['Qualifying Name'].count()

59

In [25]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_infr['with_mobile'] = df_infr['Households: With Mobile Broadband'] + \
                         df_infr['Households: With Mobile Broadband.1'] + \
                         df_infr['Households: With Mobile Broadband.2'] + \
                         df_infr['Households: With Mobile Broadband.3'] + \
                         df_infr['Households: With Mobile Broadband.4'] + \
                         df_infr['Households: Mobile Broadband Alone or With Dialup'] 

df_infr['no_mobile'] = df_infr['Households: Without Mobile Broadband'] + \
                       df_infr['Households: Without Mobile Broadband.1'] + \
                       df_infr['Households: Without Mobile Broadband.2'] + \
                       df_infr['Households: Without Mobile Broadband.3'] + \
                       df_infr['Households: Without Mobile Broadband.4'] + \
                       df_infr['Households: Internet Access Without A Subscription'] + \
                       df_infr['Households: No Internet Access'] + \
                       df_infr['Households: Dial-Up Alone']

In [26]:
# Aggregate internet type by high and low connections
df_infr['high_inter'] = df_infr['Households: Dsl'] + \
                        df_infr['Households: Cable Modem'] + \
                        df_infr['Households: Fiber-Optic'] + \
                        df_infr['Households: Satellite Internet Service'] + \
                        df_infr['Households: Two or More Fixed Broadband Types, or Other']

df_infr['low_inter'] = df_infr['Households: Dial-Up Alone'] + \
                       df_infr['Households: Mobile Broadband Alone or With Dialup'] + \
                       df_infr['Households: Internet Access Without A Subscription']

In [27]:
# Save data frame 
df_infr = df_infr[['Qualifying Name', 'high_inter', 'low_inter','with_mobile', 'no_mobile']]
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [ ]:
# Harmonize identifier of dataframe 1
df_sample['Community Board'].value_counts()

In [ ]:
df_sample['Community Board'] = df_sample['Community Board'].str.replace['MA+.*','MN']
df_sample['Community Board'] = df_sample['Community Board'].str.replace['ST+.*','SI']
df_sample['Community Board'] = df_sample['Community Board'].str.replace['BROO+.*','BK']
df_sample['Community Board'] = df_sample['Community Board'].str.replace['QU+.*','QN']
df_sample['Community Board'] = df_sample['Community Board'].str.replace['BRON+.*','BX']

df_sample['Community Board New'] = df_sample['Community Board'].str.extract('([A-Z]{2,})', expand = True)
                                + df_sample['Community Board'].str.extract('([0-9]\d{0,})', expand = True)

In [ ]:
# Harmonize identifier of dataframe 2
df_pop['cd_id'].unique()

In [ ]:
df_pop.replace('MN11111', 'MN11', inplace=True)

In [ ]:
# Harmonize identifier of dataframe 3
df_infr['Qualifying Name'].value_counts()

In [ ]:
# combine names and numbers
df_infr['Qualifying Name'] = df_infr['Qualifying Name New'] + df_infr['number']
df_infr[['Qualifying Name New', 'Qualifying Name', 'number']]

In [ ]:
# Link the 3 dataframes
df_ext = pd.merge(left = df_pop, right = df_infr, how = 'left', left_on = 'cd_id', right_on = 'Qualigying Name')
df.ext.head()

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?