# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [50]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [58]:
# Load dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', 
                   usecols = ['Borough', 'Complaint Type', 'Agency Name','Descriptor',
                              'Community Board', 'Resolution Description'])

In [67]:
data1.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough,marker
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN,0
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN,0
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN,0
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0

In [7]:
data.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [68]:
# Check if all Boroughs and Community Districts are represented in the Data 
data['Borough'].unique()

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [69]:
len(data['Community Board'].unique())

77

In [70]:
# How many unique values do we have? 
com_uni = data['Community Board'].unique()

In [71]:
com_uni

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [72]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.
index1 = [1, 58, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77]
com_uni = np.delete(com_uni,index1)

In [73]:
len(com_uni)

59

In [14]:
data['marker'] = 1

In [35]:
data1.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough,marker
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN,1
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,1
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN,1
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN,1
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified,1

In [108]:
mark = []
for i in range(len(data)):
    if data.iloc[i]['Community Board'] not in com_uni:
        mark.append(0)
    else:
        mark.append(1)

In [109]:
mark = pd.DataFrame(mark)
mark.columns = ['mark']
data = pd.concat([data, mark], axis=1)

In [112]:
data = data[data.mark == 1]

In [113]:
len(data['Community Board'].unique())

59

In [145]:
df_sample = data.groupby('Community Board').count()

In [147]:
df_sample['Community Board'] = df_sample.index

In [157]:
df_sample = df_sample.reset_index(drop = True)
df_sample = df_sample[["Complaint Type","Community Board"]]
df_sample.columns = ['Complaint Counts',"Community Board"]

In [159]:
df_sample.head(8)

   Complaint Counts   Community Board
0             74631          01 BRONX
1            185057       01 BROOKLYN
2             77974      01 MANHATTAN
3            171484         01 QUEENS
4            182713  01 STATEN ISLAND
5             60257          02 BRONX
6            121022       02 BROOKLYN
7            133860      02 MANHATTAN

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [118]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [119]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [120]:
# Check variables in file
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [121]:
# How many community districts are in file? 
len(df_pop['cd_id'].unique())

59

In [122]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_pop['higher_edu'] = df_pop["Population 25 Years and over: Master's degree"] + \
                       df_pop["Population 25 Years and over: Professional school degree"] + \
                       df_pop["Population 25 Years and over: Doctorate degree"]

In [123]:
# Save data frame
df_pop = df_pop[['cd_id', 'Total Population', 'higher_edu', '% Total Population: Male', 
                 'Median household income (In 2014 Inflation Adjusted Dollars)']]
df_pop.head()

,cd_id,Total Population,higher_edu,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,13421,46.65,54224
1,BX12,134644,5466,46.35,44906
2,BX10,121209,8959,45.20,54962
3,BX11,135839,10174,50.09,47910
4,BX03,172247,3781,44.72,22041

In [270]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [271]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [272]:
# Check variables in file
df_infr.count()

FIPS                                                       59
Geographic Identifier                                      59
Qualifying Name                                            59
Households                                                 59
Households: With An Internet Subscription                  59
Households: Dial-Up Alone                                  59
Households: Dsl                                            59
Households: With Mobile Broadband                          59
Households: Without Mobile Broadband                       59
Households: Cable Modem                                    59
Households: With Mobile Broadband.1                        59
Households: Without Mobile Broadband.1                     59
Households: Fiber-Optic                                    59
Households: With Mobile Broadband.2                        59
Households: Without Mobile Broadband.2                     59
Households: Satellite Internet Service                     59
Households: With Mobile Broadband.3                        59
Households: Without Mobile Broadband.3                     59
Households: Two or More Fixed Broadband Types, or Other    59
Households: With Mobile Broadband.4                        59
Households: Without Mobile Broadband.4                     59
Households: Mobile Broadband Alone or With Dialup          59
Households: Internet Access Without A Subscription         59
Households: No Internet Access                             59
% Households: With An Internet Subscription                59
Households.1                                               59
Households: Has A Computer                                 59
Households: With Dial-Up Internet Subscription Alone       59
Households: With A Broadband Internet Subscription         59
Households: Without An Internet Subscription               59
Households: No Computer                                    59
dtype: int64

In [273]:
# How many community districts are in file? 
df_infr['Qualifying Name'].count()

59

In [274]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_infr['with_mobile'] = df_infr['Households: With Mobile Broadband'] + \
                         df_infr['Households: With Mobile Broadband.1'] + \
                         df_infr['Households: With Mobile Broadband.2'] + \
                         df_infr['Households: With Mobile Broadband.3'] + \
                         df_infr['Households: With Mobile Broadband.4'] + \
                         df_infr['Households: Mobile Broadband Alone or With Dialup'] 

df_infr['no_mobile'] = df_infr['Households: Without Mobile Broadband'] + \
                       df_infr['Households: Without Mobile Broadband.1'] + \
                       df_infr['Households: Without Mobile Broadband.2'] + \
                       df_infr['Households: Without Mobile Broadband.3'] + \
                       df_infr['Households: Without Mobile Broadband.4'] + \
                       df_infr['Households: Internet Access Without A Subscription'] + \
                       df_infr['Households: No Internet Access'] + \
                       df_infr['Households: Dial-Up Alone']

In [275]:
# Aggregate internet type by high and low connections
df_infr['high_inter'] = df_infr['Households: Dsl'] + \
                        df_infr['Households: Cable Modem'] + \
                        df_infr['Households: Fiber-Optic'] + \
                        df_infr['Households: Satellite Internet Service'] + \
                        df_infr['Households: Two or More Fixed Broadband Types, or Other']

df_infr['low_inter'] = df_infr['Households: Dial-Up Alone'] + \
                       df_infr['Households: Mobile Broadband Alone or With Dialup'] + \
                       df_infr['Households: Internet Access Without A Subscription']

In [276]:
# Save data frame 
df_infr = df_infr[['Qualifying Name', 'high_inter', 'low_inter','with_mobile', 'no_mobile']]
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [277]:
# Harmonize identifier of dataframe 1
df_sample['Community Board'].value_counts()

05 QN    1
10 QN    1
17 BK    1
06 MN    1
10 BX    1
01 BK    1
11 BX    1
05 MN    1
07 BX    1
13 BK    1
08 BX    1
12 QN    1
16 BK    1
11 MN    1
04 QN    1
11 BK    1
07 QN    1
05 BX    1
02 SI    1
09 QN    1
18 BK    1
03 MN    1
07 BK    1
12 MN    1
10 BK    1
01 QN    1
01 SI    1
14 QN    1
01 BX    1
06 BX    1
06 QN    1
15 BK    1
02 BK    1
12 BX    1
14 BK    1
13 QN    1
09 BK    1
08 BK    1
04 BK    1
03 BX    1
04 MN    1
12 BK    1
02 BX    1
05 BK    1
09 BX    1
11 QN    1
09 MN    1
07 MN    1
04 BX    1
02 MN    1
03 QN    1
03 SI    1
06 BK    1
10 MN    1
01 MN    1
03 BK    1
08 MN    1
02 QN    1
08 QN    1
Name: Community Board, dtype: int64

In [278]:
df_sample['Community Board'] = df_sample['Community Board'].str.replace('MA+.*','MN')
df_sample['Community Board'] = df_sample['Community Board'].str.replace('ST+.*','SI')
df_sample['Community Board'] = df_sample['Community Board'].str.replace('BROO+.*','BK')
df_sample['Community Board'] = df_sample['Community Board'].str.replace('QU+.*','QN')
df_sample['Community Board'] = df_sample['Community Board'].str.replace('BRON+.*','BX')

df_sample['Community Board New'] = df_sample['Community Board'].str.extract('([A-Z]{2,})', expand = True) \
+ df_sample['Community Board'].str.extract('([0-9]\d{0,})', expand = True)

In [279]:
df_sample

    Complaint Counts Community Board Community Board New
0              74631           01 BX                BX01
1             185057           01 BK                BK01
2              77974           01 MN                MN01
3             171484           01 QN                QN01
4             182713           01 SI                SI01
5              60257           02 BX                BX02
6             121022           02 BK                BK02
7             133860           02 MN                MN02
8             114333           02 QN                QN02
9             121132           02 SI                SI02
10             75134           03 BX                BX03
11            197306           03 BK                BK03
12            150296           03 MN                MN03
13            122009           03 QN                QN03
14            136487           03 SI                SI03
15            181953           04 BX                BX04
16            139706           04 BK                BK04
17            132660           04 MN                MN04
18             99316           04 QN                QN04
19            161078           05 BX                BX05
20            189765           05 BK                BK05
21            142028           05 MN                MN05
22            168570           05 QN                QN05
23             99547           06 BX                BX06
24            114029           06 BK                BK06
25            104249           06 MN                MN06
26             90938           06 QN                QN06
27            185729           07 BX                BX07
28            107031           07 BK                BK07
29            151419           07 MN                MN07
30            195961           07 QN                QN07
31             92733           08 BX                BX08
32            141119           08 BK                BK08
33            149076           08 MN                MN08
34            123131           08 QN                QN08
35            147457           09 BX                BX09
36            135833           09 BK                BK09
37            127565           09 MN                MN09
38            151242           09 QN                QN09
39             95496           10 BX                BX10
40            111837           10 BK                BK10
41            137344           10 MN                MN10
42            128116           10 QN                QN10
43            122081           11 BX                BX11
44            139890           11 BK                BK11
45             95413           11 MN                MN11
46            101908           11 QN                QN11
47            168455           12 BX                BX12
48            150320           12 BK                BK12
49            268053           12 MN                MN12
50            229383           12 QN                QN12
51             72362           13 BK                BK13
52            163851           13 QN                QN13
53            187794           14 BK                BK14
54            103396           14 QN                QN14
55            146129           15 BK                BK15
56             85467           16 BK                BK16
57            191720           17 BK                BK17
58            156100           18 BK                BK18

In [168]:
# Harmonize identifier of dataframe 2
df_pop['cd_id'].unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11111',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

In [171]:
df_pop.replace('MN11111', 'MN11', inplace=True)

In [172]:
df_pop.head(8)

,cd_id,Total Population,higher_edu,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,13421,46.65,54224
1,BX12,134644,5466,46.35,44906
2,BX10,121209,8959,45.20,54962
3,BX11,135839,10174,50.09,47910
4,BX03,172247,3781,44.72,22041
5,BX06,172247,3781,44.72,22041
6,BX07,135893,3872,48.48,35495
7,BX05,132850,3463,45.75,20872

In [280]:
# Harmonize identifier of dataframe 3
df_infr['Qualifying Name'].value_counts()

NYC-Bronx Community District 3 & 6--Belmont, New York                                       2
NYC-Manhattan Community District 4 & 5--Chelsea, New York                                   2
NYC-Bronx Community District 1 & 2--Hunts Point, New York                                   2
NYC-Manhattan Community District 1 & 2--Battery Park City, New York                         2
NYC-Bronx Community District 9--Castle Hill, New York                                       1
NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York                 1
NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York    1
NYC-Queens Community District 12--Jamaica, New York                                         1
NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York                     1
NYC-Brooklyn Community District 4--Bushwick PUMA, New York                                  1
NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York                 1
NYC-Manhattan Community District 8--Upper East Side PUMA, New York                          1
NYC-Bronx Community District 5--Morris Heights, New York                                    1
NYC-Manhattan Community District 12--Washington Heights, New York                           1
NYC-Brooklyn Community District 15--Sheepshead Bay, New York                                1
NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York                       1
NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York                        1
NYC-Queens Community District 13--Queens Village, New York                                  1
NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York            1
NYC-Brooklyn Community District 6--Park Slope, New York                                     1
NYC-Staten Island Community District 1--Port Richmond, New York                             1
NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York                   1
NYC-Brooklyn Community District 12--Borough Park, New York                                  1
NYC-Queens Community District 7--Flushing, New York                                         1
NYC-Bronx Community District 7--Bedford Park, New York                                      1
NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York                  1
NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York             1
NYC-Manhattan Community District 10--Central Harlem PUMA, New York                          1
NYC-Manhattan Community District 6--Murray Hill, New York                                   1
NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York                     1
NYC-Bronx Community District 12--Wakefield, New York                                        1
NYC-Bronx Community District 11--Pelham Parkway, New York                                   1
NYC-Brooklyn Community District 17--East Flatbush, New York                                 1
NYC-Queens Community District 8--Briarwood, New York                                        1
NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York             1
NYC-Queens Community District 11--Bayside, New York                                         1
NYC-Staten Island Community District 3--Tottenville, New York                               1
NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York                        1
NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York                    1
NYC-Bronx Community District 8--Riverdale, New York                                         1
NYC-Queens Community District 14--Far Rockaway, New York                                    1
NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York              1
NYC-Bronx Community District 10--Co-op City, New York                                       1
NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York                1
NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York                  1
NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York                 1
NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York              1
NYC-Brooklyn Community District 9--Crown Heights South, New York                            1
NYC-Manhattan Community District 11--East Harlem PUMA, New York                             1
NYC-Bronx Community District 4--Concourse, New York                                         1
NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York        1
NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York              1
NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York            1
NYC-Manhattan Community District 9--Hamilton Heights, New York                              1
NYC-Queens Community District 5--Ridgewood, New York                                        1
Name: Qualifying Name, dtype: int64

In [282]:
df_infr.head(8)

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264
6,"NYC-Bronx Community District 7--Bedford Park, ...",29844,6279,16709,30543
7,NYC-Bronx Community District 5--Morris Heights...,25216,4096,15857,28842

In [283]:
df_infr['Qualifying Name New'] =  df_infr['Qualifying Name'].str.extract('(?<=^....)([a-zA-Z]+)', expand=True)
df_infr['number'] = df_infr['Qualifying Name'].str.extract('([0-9]\d{0,})', expand = True)

In [284]:
df_infr['Qualifying Name New'] = df_infr['Qualifying Name New'].str.replace('Ma+.*','MN')
df_infr['Qualifying Name New'] = df_infr['Qualifying Name New'].str.replace('St+.*','SI')
df_infr['Qualifying Name New'] = df_infr['Qualifying Name New'].str.replace('Broo+.*','BK')
df_infr['Qualifying Name New'] = df_infr['Qualifying Name New'].str.replace('Qu+.*','QN')
df_infr['Qualifying Name New'] = df_infr['Qualifying Name New'].str.replace('Bron+.*','BX')

In [287]:
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile,Qualifying Name New,number
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508,BX,8
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416,BX,12
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986,BX,10
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173,BX,11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264,BX,3

In [286]:
num = []
        
for i in range(len(df_infr1)):
    if float(df_infr1.iloc[i].number) < 10:
        num.append('0' + df_infr1.iloc[i].number)
    else:
        num.append(df_infr1.iloc[i].number)

In [289]:
df_infr.drop(['number'], axis = 1, inplace = True)

In [290]:
num = pd.DataFrame(num)
num.columns = ['number']
df_infr = pd.concat([df_infr, num], axis=1)
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile,Qualifying Name New,number
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508,BX,08
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416,BX,12
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986,BX,10
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173,BX,11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264,BX,03

In [292]:
# combine names and numbers
df_infr['Qualifying Name'] = df_infr['Qualifying Name New'] + df_infr['number']
df_infr[['Qualifying Name New', 'Qualifying Name', 'number']]

   Qualifying Name New Qualifying Name number
0                   BX            BX08     08
1                   BX            BX12     12
2                   BX            BX10     10
3                   BX            BX11     11
4                   BX            BX03     03
5                   BX            BX03     03
6                   BX            BX07     07
7                   BX            BX05     05
8                   BX            BX04     04
9                   BX            BX09     09
10                  BX            BX01     01
11                  BX            BX01     01
12                  MN            MN12     12
13                  MN            MN09     09
14                  MN            MN10     10
15                  MN            MN11     11
16                  MN            MN08     08
17                  MN            MN07     07
18                  MN            MN04     04
19                  MN            MN04     04
20                  MN            MN06     06
21                  MN            MN03     03
22                  MN            MN01     01
23                  MN            MN01     01
24                  SI            SI03     03
25                  SI            SI02     02
26                  SI            SI01     01
27                  BK            BK01     01
28                  BK            BK04     04
29                  BK            BK03     03
30                  BK            BK02     02
31                  BK            BK06     06
32                  BK            BK08     08
33                  BK            BK16     16
34                  BK            BK05     05
35                  BK            BK18     18
36                  BK            BK17     17
37                  BK            BK09     09
38                  BK            BK07     07
39                  BK            BK10     10
40                  BK            BK12     12
41                  BK            BK14     14
42                  BK            BK15     15
43                  BK            BK11     11
44                  BK            BK13     13
45                  QN            QN01     01
46                  QN            QN03     03
47                  QN            QN07     07
48                  QN            QN11     11
49                  QN            QN13     13
50                  QN            QN08     08
51                  QN            QN04     04
52                  QN            QN06     06
53                  QN            QN02     02
54                  QN            QN05     05
55                  QN            QN09     09
56                  QN            QN12     12
57                  QN            QN10     10
58                  QN            QN14     14

In [295]:
# Link the 3 dataframes
df_ext = pd.merge(left = df_pop, right = df_infr, how = 'left', left_on = 'cd_id', right_on = 'Qualifying Name')
df_ext.head()

,cd_id,Total Population,higher_edu,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars),Qualifying Name,high_inter,low_inter,with_mobile,no_mobile,Qualifying Name New,number
0,BX08,106737,13421,46.65,54224,BX08,29183.0,4731.0,17527.0,24508.0,BX,08
1,BX12,134644,5466,46.35,44906,BX12,31137.0,2997.0,11414.0,33416.0,BX,12
2,BX10,121209,8959,45.20,54962,BX10,31932.0,3679.0,12064.0,34986.0,BX,10
3,BX11,135839,10174,50.09,47910,BX11,30861.0,3864.0,11749.0,33173.0,BX,11
4,BX03,172247,3781,44.72,22041,BX03,34030.0,4785.0,16292.0,41264.0,BX,03

In [298]:
df_ext.drop(['Qualifying Name New','number', 'Qualifying Name'], axis = 1, inplace = True)
df_ext.head(10)

,cd_id,Total Population,higher_edu,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars),high_inter,low_inter,with_mobile,no_mobile
0,BX08,106737,13421,46.65,54224,29183.0,4731.0,17527.0,24508.0
1,BX12,134644,5466,46.35,44906,31137.0,2997.0,11414.0,33416.0
2,BX10,121209,8959,45.20,54962,31932.0,3679.0,12064.0,34986.0
3,BX11,135839,10174,50.09,47910,30861.0,3864.0,11749.0,33173.0
4,BX03,172247,3781,44.72,22041,34030.0,4785.0,16292.0,41264.0
5,BX03,172247,3781,44.72,22041,34030.0,4785.0,16292.0,41264.0
6,BX06,172247,3781,44.72,22041,NaN,NaN,NaN,NaN
7,BX07,135893,3872,48.48,35495,29844.0,6279.0,16709.0,30543.0
8,BX05,132850,3463,45.75,20872,25216.0,4096.0,15857.0,28842.0
9,BX04,141467,3501,45.64,27203,26686.0,6391.0,18342.0,29593.0

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?